.manage-promotions {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FFF;
    font-family: DM Sans;
    font-size: 18px;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.36px;
    gap: 0.7rem;
    margin: 0px 0px 100px 0px;
}

.managePromotionsTitle {
    font-size: 28px;
}

.promotion-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    max-width: 400px;
    margin-top: 20px;
}

.managePromotionsList {
    list-style: none;
    padding: 0;
    width: 500px;
  }

  .promotion-item {
    background-color: #323239;
    border-radius: 5px;
    margin: 20px 0px 20px 0px;
    padding: 18px;
  }

  .promotion-name {
    font-size: 18px;
    font-weight: bold;
  }

   .promotion-description {
    font-size: 14px;
  }

  .edit-button, .delete-button {
      background-color: #ccc;
      font-family: DM Sans;
      border: none;
      border-radius: 3px;
      color:#181821;
      margin: 10px 5px 0px 5px;
      transition: background 0.2s;
  }

  .edit-button:hover {
    background-color: #FF3E63;
  }
 
  
  .edit-button:active {
    background: #8A0B2A;
  }
  

  .delete-button:hover {
    background-color: #FF3E63;
  }

  .delete-button:active {
    background: #8A0B2A;
  }

  .add-promotion {
    background-color: #323239;
    padding: 18px;
    border-radius: 5px;
    width: 464px;
  }

  .managePromosLabel {
    font-size: 16px;
  }

 #promotionName, #promotionDescription, #promotionAmount, #promotionCode {
    width: 420px;
    height: 16px;
    padding: 8px;
    background-color: #323239;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    font-size: 14px;
    margin: 5px 0px 10px 0px;
  }
  
  .addPromo-button {
    background-color: #ccc;
    font-family: DM Sans;
    border: none;
    border-radius: 3px;
    color:#181821;
    padding: 5px 10px 5px 10px;
    margin: 10px 0px 0px 170px;
    transition: background 0.2s;
    transform: translate(5%, 0%);
  }

  .addPromo-button:hover {
    background-color: #FF3E63;
  }

  .addPromo-button:active {
    background: #8A0B2A;
  }

.error-message-adminAddNewPromo {
  top: 100%;
  left: 0;
  width: 28%;
  padding: 0.5rem;
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
  border-radius: 0.25rem;
  font-size: 0.875rem;
  transform: translate(105%, 160%);
}
