
  .MuiTableCell-root {
    background-color: #FFFFFF;
  }
  
  .MuiTable-root {
    color: #FFFFFF;  
    
}
   
.MuiTableHead-root {
    color: #FFFFFF;  
  }
  
  .MuiTableBody-root {
    color: #FFFFFF;  
  }
  